@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}
:root {
    --azul: #1da1f2; 
    --azul-texto:#0898cc;
    --azul-chirp: #2b7df5;
    --beige-claro: #fbf8f3;
    --cinza: #807f7e;
}
body {
    background-color: var(--beige-claro);

}
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3%; 
    padding: 3% 7%;
}
.chirp_texto {
    color: var(--azul-chirp);
    font-weight: 700;
}
.cabecalho__menu {
    display: flex;
    gap: 25px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.cabecalho__link {
    color: var(--cinza);
}
.botao_principal {
    align-self: center;
    color: white;
    background-color: var(--azul);
    padding: 1rem;
    border-radius: 0.31rem;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    gap: 8px;
}
.container {
    height: 100%;
    padding: 0% 7%;
}
.principal {
    display: flex; 
}
.container__inicial {
    padding-right: 4%;  
}
.container__titulo {
    font-size: 4rem;
    font-weight: 700;
}
.container__texto {
    color: var(--cinza);
    font-size: 1rem;
    font-weight: 500;
    padding: 2% 0%;
}
.principal__links {
    display: flex;
    align-items: center;
}
.botao_secundario {
    color: var(--azul-texto);
    font-weight: 700;
    padding: 5%;
}
strong {
    color: var(--azul-texto);
}
.principal_imagem {
    width: 30%;
    padding-bottom: 5%;  
}
.secundario {
    background-color: #ffffff;
    padding: 5% 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.secundario__titulo {
    font-size: 2.3rem;
    font-weight: 700;
    color: black;
    padding-bottom: 2%;
}
.box {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 60px;
}
.secundario__caixa {
    padding: 3%;
    border: 1px solid var(--cinza);
}
.emoji {
    font-size: 2rem;
}
.caixa__titulo {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
}
.caixa__texto {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza);
}
